name: Daily Auto Update

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  auto_update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: pip install colorama
      - name: Run script
        run: python main.py

      - name: Update README
        run: |
          sed -i "s/Last updated: /Last updated: $(date)/g" README.md

      - name: Commit and Push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto update: README"
          file_pattern: README.md
